:root{
    --disease-info-text-color: #72ace7;
}
body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background-color: #eeeeee;
    position: relative;
}

#navbar {
    border-radius: 2px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw !important;
}

#DIcon {
    height: 40px !important;
    width: 40px !important;
}

#inputs {
    width: 100vw !important;
    margin-top: 20px !important;
}

#infoField {
    width: 100vw !important;
    margin-top: 20px !important;
}
#main {
    margin-top: 10px;
    display: flex !important;
    flex-direction: row !important;
    gap: 10px !important;
}

#main > div {
    font-size: 18px;
    width: 50vw !important;
}

#input {
    border-radius: 5px !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px !important;
}

#show {
    border-radius: 5px !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    color: var(--disease-info-text-color);
    padding: 20px !important;
}

#chart{
    border-radius: 5px !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#check {
    border-radius: 5px !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

#chartHeader {
    border-radius: 5px !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

#infoHeader {
    border-radius: 5px !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

#disease-name {
    border-bottom: 2px solid var(--disease-info-text-color);
    font-weight: bold;
    padding-bottom: 10px !important;
}

.footer {
    width: 100vw !important;
    text-align: center;
    font-size: 14px;
}

.footer a{
    text-decoration: none;
    color: cornflowerblue;
}

.footer a:hover{
    text-decoration: none;
    color: orangered;
}
